@{
    ViewData["Title"] = "Home Page";
}

<!-- currently skipping this page and immediately loading Passengers/Index.cshtml -->
<div class="jumbotron">
    <h1>Passenger Manager</h1>
</div>
<div class="row">
    <div class="col-md-4">
        
    </div>
</div>

